

<!-- Start Footer -->
 <div class="footer">
  <div class="container">
    <div class="box">
      <img src="../../assets/WhatsApp Image 2024-12-05 at 15.50.49_123c13f5.jpg" alt="">
      <br><br>
      <div class="cowhit">
        <h4>ABOUT COMPANY</h4>
      </div>

      <br>
      <p>We are an educational and entertaining platform for children from 3 to 12 years old.

        We provide different and attractive content for children through cartoon videos.</p>
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/" class=" rounded-circle facebook">
              <i class="fa-brands fa-facebook"></i>
            </a>

          <li>

            <a href="https://x.com/?lang=ar" class=" rounded-circle twitter">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/" class=" rounded-circle  youtube">
              <i class="fab fa-youtube"></i>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/feed/" class=" rounded-circle  linkedin">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
        </ul>
  </div>
    <div class="box">
        <br><br><br><br><br><br>
        <div class="cowhit"><h4>Our Services</h4></div>

        <br>
        <h5>Online class </h5>
        <h5>Kids Playzone</h5>
    </div>
    <div class="box">
      <br><br><br><br><br><br>
      <div class="cowhit">
        <h4> Useful links</h4>
      </div>
      <br>
      <h5>Contact us </h5>
  </div>
    <div class="">
      <img decoding="async" src="../../assets/Page_3___Preschool_Kids_Vectors___Illustrations_for_Free_Download___Freepik-removebg-preview 1.png" alt="" />
    </div>
  </div>
  <p class="copyright">   </p>
</div>
<!-- End Footer -->
