<!-- Start Footer -->


 <!-- Start Landing -->
 <div class="landing">
  <div class="container">
    <div class="text">
      <br><br>
      <h1>Welcome to Educartoon</h1>
      <br><br>
      <p>We are an educational and entertaining platform for children from 3 to 12 years old. We provide different and attractive content for children through cartoon videos.</p>
      <br><br>
      <button type="button" class="btn btn-primary w-25">Join now</button>
      <br>
     <div class="image3  gap-5">
      <img src="../../assets/WhatsApp Image 2024-12-08 at 20.30.36_e209310f.jpg" class="w-75"  alt="">
      <img src="../../assets/Premium_Vector___Concept_Design_For_Children_Education-removebg-preview 1.png" class="w-25" alt="">
     </div>
    </div>
    <div class="image">

      <img decoding="async" src="../../assets/Page_3___Preschool_Kids_Vectors___Illustrations_for_Free_Download___Freepik-removebg-preview 1.png" class="w-100" alt="" />
    </div>
  </div>
</div>

<!-- End Landing -->







<!-- stert 3cerd -->
<div class="cer4">
  <br><br><br><br>
  <div class="cerr44">

      <h1>Providing Good Qualities For</h1>
    <h1>Your Loving Kids</h1>

  </div>
  <div class="dec">
    <div>
      <img src="../../assets/Group (1).png" alt="">
      <br> <br>

      <h5>Education</h5>
    </div>
    <div>
      <img src="../../assets/Group.png" alt="">
      <br> <br>
      <h5>Civilization</h5>
    </div>
    <div>
      <img src="../../assets/Group.png" alt="">
      <br> <br>
      <h5>Technology</h5>
    </div>
  </div>
  <br><br><br>
  <div class="dec">
    <div>
      <img src="../../assets/Frame (1).png" alt="">
      <br> <br>
      <h5>Religion</h5>
    </div>
    <div>
      <img src="../../assets/Group (1).png" alt="">
      <br> <br>
      <h5>Entertainment</h5>
    </div>
    <div>
      <img src="../../assets/Group (1).png" alt="">
      <br> <br>
      <h5>Behavior</h5>
    </div>
  </div>

</div>

<!-- end 3cerd -->







<!-- stert 4cerd -->
<div class="cerde8">
  <!-- Start Articles -->
  <div class="articles" id="articles">
    <div class="nes">
      <img src="../../assets/WhatsApp Image 2024-12-08 at 22.49.37_bc627bd9.jpg" alt="">
    </div>
    <div class="nes1">
      <h3>Take the classe & start</h3>
      <h3>Learning From Today</h3>
    </div>
    <br><br>
    <div class="container">
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="i../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
      <div class="box">
        <img decoding="async" src="../../assets/WhatsApp Image 2024-12-08 at 22.39.13_bbc0eb5c.jpg" alt="" />
        <div class="content">
          <h3>Test Title</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit</p>
        </div>
        <div class="info">
          <button type="button" class="btn btn-dark w-100" >Dark</button>
        </div>
      </div>
    </div>
  </div>
  <div class="spikes"></div>
  <br><br>
  <!-- End Articles -->
</div>
<!-- end 4cerd -->


<!-- stert 4cerd -->

<div class="cer4">
  <br><br><br><br>
  <div class="dec">
    <div>
      <img src="../../assets/Group (1).png" alt="">
      <br> <br>
      <h3>4564+</h3>
      <h5>Student Admission</h5>
    </div>
    <div>
      <img src="../../assets/Group.png" alt="">
      <br> <br>
      <h3>156+</h3>
      <h5>Student Admission</h5>
    </div>
  </div>
  <br><br><br>
  <div class="dec">
    <div>
      <img src="../../assets/Frame (1).png" alt="">
      <br> <br>
      <h3>4564+</h3>
      <h5>Student Admission</h5>
    </div>
    <div>
      <img src="../../assets/Group (1).png" alt="">
      <br> <br>
      <h3>156+</h3>
      <h5>Student Admission</h5>
    </div>
  </div>

</div>
<!-- End 4cerd -->

<!-- stert content -->

<div class=" coc  ">

  <br><br>
	<div class="row">
   <div class="negm">
    <img src="../../assets/Group (2).png" class="w-0 p-5"   alt="">
   </div>
    <br>
			<H6 style="text-align:center">GET IN TOUCH</H6>
	</div>
	<div class="row">
			<H1 style="text-align:center" class="text-warning-emphasis">Needs help? let'S Get in Touch</H1>
	</div>
	<div class="row input-container">
			<div class="col-md-6 col-sm-12">
				<div class="styled-input">
					<input type="text" required />
					<label>Name</label>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="styled-input" style="float:right;">
					<input class="input " type="email" placeholder=" Email" name="email" />
				</div>
			</div>
      <div class="col-xs-12">
				<div class="styled-input wide">
					<input type="text" required />
					<label>subject</label>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="styled-input wide">
					<textarea required></textarea>
					<label>Message</label>
				</div>
			</div>
		<div class="butm">
      <button type="button" class="btn btn-warning w-50 " > submit</button>
    </div>

    </div>

    <img src="../../assets/Group 81.png" class="w-100" alt="">
</div>
<!-- End content -->
