<nav class="llo navbar navbar-expand-lg ">
  <div class="container">

    <li class="nav-item Light">
      <a class="sin  nav-link active"  routerLink="terify"><img src="../../assets/WhatsApp Image 2024-12-05 at 15.50.49_123c13f5.jpg" class="w-50" alt=""> </a>
    </li>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item Light">
          <a class="sin  nav-link active"  routerLink="register">sin up</a>
        </li>

        <li class="nav-item dropdown">
          <a class=" sin nav-link dropdown-toggle " routerLink="login" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            log in
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item " href="#">Admin</a></li>
            <li><a class="dropdown-item" href="#">User</a></li>
          </ul>

        </li>
        <img src="../../assets/v (8).jpg" class="w-25" alt="">

      </ul>

    </div>
  </div>
</nav>


