<div class="lll">
  <div class="discount" id="discount">
    <div class="image">
      <div class="content">
        <img decoding="async" src="../../assets/download__1_-removebg-preview 1.png" class="w-75" alt="" />
      </div>
    </div>
    <div class="form">
      <div class="content">
        <h2>Reset Password</h2>
        <h5>type in the email address thet you use to log in to </h5>
        <h5>Educartoon</h5>
        <br>
        <form action="">
          <div class="ooo">
          <input class="input rounded-pill" type="email" placeholder=" Email" name="email" />
          </div>
          <br>
          <button type="button" class="btn btn-light rounded-pill w-50">Submint</button>
        </form>
      </div>
    </div>
  </div>
  </div>
