
<div class="lll">

  <div class="discount" id="discount">
    <div class="image">
      <img src="../../assets/login-page-image@opt-Cz8l-qe1 1.png"  class="w-50" alt="">
      <div class="content">

        <img decoding="async" src="./login-page-image@opt-Cz8l-qe1 1.png" alt="" />
      </div>
    </div>
    <div class="form">
      <div class="content">
        <h2>Register</h2>
        <br>
        <form action="">
          <div class="ooo">
            <input class="input rounded-pill" type="text" placeholder="Full Name" name="name" />
          <input class="input rounded-pill" type="email" placeholder=" Email" name="email" />
          <input class="input rounded-pill" type="password" placeholder=" password" name="password" />
          <input class="input rounded-pill" type="password" placeholder=" confirm password" name="mobile" />
          </div>
          <button type="button" class="btn btn-light rounded-pill w-50">Register</button>

          <br>
          <h6 class="text-light">
            Or contenvc witjfd
          </h6>
        <img src="../../assets/Social Login-1.png" class="w-50"  alt="">
        <br> <br>
        <h5 class="text-light"> have account? <span class="text-body-tertiary">  sign in</span></h5>
        </form>
      </div>
    </div>
  </div>
  </div>

